!!! 5
%html
  %head
    %link{href: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{rel: 'stylesheet', href: '/assets/app.css'}
  %body{'ng-app' => 'myApp'}
    %ng-view

    %script{id: 'index.html', type: 'text/ng-template'}
      #sidebar.col-lg-3
        .panel.panel-default
          .panel-body.text-center
            .btn-group
              %button.btn.btn-default.glyphicon.glyphicon-map-marker{'type'=>'button', 'ng-model' => 'showMapMarkers', 'btn-checkbox' => true}
              %button.btn.btn-default.glyphicon.glyphicon-trash{'type' => 'button', 'ng-click' => 'reset()'}
              %button.btn.btn-default.glyphicon.glyphicon-remove{'type' => 'button', 'ng-click' => 'undo()'}
          .panel-heading
            %h3.panel-title Search
          .panel-body
            %ng-place-autocompleter
          .panel-heading
            %h3.panel-title Distance
          .panel-body.text-center
            %h2 {{ route.totalDistance() | unit:unitType | number:2 }} {{ unitType | unitAbbr }}
            .btn-group
              %button.btn.btn-default{'ng-model' => 'unitType', 'btn-radio' => '1'} Imperial
              %button.btn.btn-default{'ng-model' => 'unitType', 'btn-radio' => '0'} Metric
          .panel-heading
            %h3.panel-title Route Type
          .panel-body.text-center
            .btn-group
              %button.btn.btn-default{'ng-model' => 'routeType', 'btn-radio' => "'WALKING'"} Running
              %button.btn.btn-default{'ng-model' => 'routeType', 'btn-radio' => "'BICYCLING'"} Cycling
              %button.btn.btn-default{'ng-model' => 'routeType', 'btn-radio' => "'NOTHING'"} Manual
      %ng-google-map

    %script{src: "//maps.googleapis.com/maps/api/js?libraries=places,geometry&key=#{ENV['GOOGLE_API_KEY']}"}
    %script{src: '//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular.js'}
    %script{src: '//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.5/angular-route.js'}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js'}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap.min.js'}
    %script{src: '/assets/app.js'}
