!!! 5
%html
  %head
    %link{href: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel: 'stylesheet'}
    = stylesheet_link_tag "application", media: "all"
  %body{'ng-app' => 'myApp'}
    %ng-view

    %script{id: 'index.html', type: 'text/ng-template'}
      #sidebar.col-lg-3
        .panel.panel-default
          .panel-body.text-center
            .btn-group
              %button.btn.btn-default.glyphicon.glyphicon-map-marker{'type'=>'button', 'ng-click' => 'markers.toggleVisible()', 'ng-active' => 'markers.getVisible()'}
              %button.btn.btn-default.glyphicon.glyphicon-trash{'type' => 'button', 'ng-click' => 'reset()'}
              %button.btn.btn-default.glyphicon.glyphicon-remove{'type' => 'button', 'ng-click' => 'undo()'}
              %button.btn.btn-default.glyphicon.glyphicon-floppy-disk{'type' => 'button', 'ng-click' => 'save()'}
          .panel-heading
            %h3.panel-title Location Search
          .panel-body
            %ng-place-autocompleter
          .panel-heading
            %h3.panel-title Distance
          .panel-body.text-center
            %h2 {{ route.totalDistance() | unit:unitType | number:2 }} {{ unitType | unitAbbr }}
            .btn-group
              %button.btn.btn-default{'ng-click' => 'toggleUnits()', 'ng-active' => 'unitType.isImperial()'} Imperial
              %button.btn.btn-default{'ng-click' => 'toggleUnits()', 'ng-active' => 'unitType.isMetric()'} Metric
          .panel-heading
            %h3.panel-title Route Type
          .panel-body.text-center
            .btn-group
              %button.btn.btn-default{'ng-click' => 'routeType.toggleWalking()', 'ng-active' => 'routeType.isWalking()'} Running
              %button.btn.btn-default{'ng-click' => 'routeType.toggleBicycling()', 'ng-active' => 'routeType.isBicycling()'} Cycling
              %button.btn.btn-default{'ng-click' => 'routeType.toggleManual()', 'ng-active' => 'routeType.isManual()'} Manual
          .panel-heading
            %h3.panel-title Route Information
          .panel-body
            .form
              .form-group
                %label.control-label Name
                %input.form-control{type: 'text', 'ng-model' => 'route.name'}
              .form-group
                %label.control-label Description
                %input.form-control{type: 'text', 'ng-model' => 'route.description'}
      %ng-google-map

    %script{src: "//maps.googleapis.com/maps/api/js?libraries=places,geometry&key=#{ENV['GOOGLE_API_KEY']}"}
    = javascript_include_tag "application"
